# Default ignored files
/shelf/
/workspace.xml
# Ignore IDE files
.idea/
*.iml

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore virtual environment
venv/
